<ul>
    <li>
        <a href="/">
            <i class="fa fa-home" aria-hidden="true"></i>Trang chủ
        </a>
    </li>
    <li>
        <a href="">Thể loại</a>
        <ul class="ms-menu-sub">
            <li>
                <a href="#">Nhạc trẻ</a>
            </li>
            <li>
                <a href="#">Nhạc cách mạng</a>
            </li>
            <li>
                <a href="#">Nhạc đồng quê</a>
            </li>
            <li>
                
                <a href="#">Bolero</a>
            </li>
            <li>
                <a href="#">Nhạc vàng</a>
            </li>
        </ul>
    </li>
    <li>
        Nhạc sĩ
    </li>
    <li>Ca sĩ</li>
    <li><a href="">TOP 100</a>
        <ul class="ms-menu-sub">
            <li>
                <a href="~/BXH/BXH">TOP BXH</a>
            </li>
            <li>
                <a href="#">Nhạc trẻ</a>
            </li>
            <li>
                <a href="#">Nhạc cách mạng</a>
            </li>
            <li>
                <a href="#">Nhạc đồng quê</a>
            </li>
            <li>

                <a href="#">Bolero</a>
            </li>
            <li>
                <a href="#">Nhạc vàng</a>
            </li>
        </ul>
    </li>
    <li>Hit</li>
</ul>
