<div class="ms-bxh-theloai">
    <h4>Bảng xếp hạng theo thể loại</h4>
    <ul>
        <li><a href="#"><img src="~/ImageUpload/bolero.png" /></a></li>
        <li><a href="#"><img src="~/ImageUpload/nhac%20tre.png" /></a></li>
        <li><a href="#"><img src="~/ImageUpload/nhac%20vang.png" /></a></li>
        <li><a href="#"><img src="~/ImageUpload/nhac%20que%20huong.png" /></a></li>
        <li><a href="#"><img src="~/ImageUpload/nhac%20cach%20mang.png" /></a></li>
    </ul>
</div>