USE [master]
GO
/****** Object:  Database [MusicVietSql]    Script Date: 7/27/2025 12:42:34 PM ******/
CREATE DATABASE [MusicVietSql]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MusicVietSql', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MusicVietSql.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MusicVietSql_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MusicVietSql_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MusicVietSql].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MusicVietSql]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/27/2025 12:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/27/2025 12:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](255) NOT NULL,
	[Username] [varchar](64) NOT NULL,
	[Password] [varchar](8000) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Avatar] [varchar](255) NULL,
	[IsAdmin] [tinyint] NULL,
 CONSTRAINT [PK_dbo.Account] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Album]    Script Date: 7/27/2025 12:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Album](
	[AlbumId] [int] IDENTITY(1,1) NOT NULL,
	[AlbumTitle] [nvarchar](100) NOT NULL,
	[AblumPhoto] [varchar](255) NOT NULL,
	[DesAlbum] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.Album] PRIMARY KEY CLUSTERED 
(
	[AlbumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorite]    Script Date: 7/27/2025 12:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorite](
	[SongId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[FavoriteId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dbo.Favorite] PRIMARY KEY CLUSTERED 
(
	[SongId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MusicGenres]    Script Date: 7/27/2025 12:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusicGenres](
	[MusicGenresId] [int] IDENTITY(1,1) NOT NULL,
	[MusicGenresName] [nvarchar](100) NOT NULL,
	[MusicGenresPic] [varchar](255) NOT NULL,
	[DesMusicGenres] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.MusicGenres] PRIMARY KEY CLUSTERED 
(
	[MusicGenresId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musician]    Script Date: 7/27/2025 12:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musician](
	[MusicianId] [int] IDENTITY(1,1) NOT NULL,
	[MusicianName] [nvarchar](255) NOT NULL,
	[MusicianPic] [varchar](255) NOT NULL,
	[MusicianStory] [nvarchar](1000) NULL,
 CONSTRAINT [PK_dbo.Musician] PRIMARY KEY CLUSTERED 
(
	[MusicianId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Singer]    Script Date: 7/27/2025 12:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Singer](
	[SingerId] [int] IDENTITY(1,1) NOT NULL,
	[SingerName] [nvarchar](255) NOT NULL,
	[SingerPic] [varchar](255) NOT NULL,
	[SingerStory] [nvarchar](1000) NULL,
 CONSTRAINT [PK_dbo.Singer] PRIMARY KEY CLUSTERED 
(
	[SingerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Song]    Script Date: 7/27/2025 12:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Song](
	[SongId] [int] IDENTITY(1,1) NOT NULL,
	[SongTitle] [nvarchar](100) NOT NULL,
	[MusicianId] [int] NOT NULL,
	[SingerId] [int] NOT NULL,
	[AlbumId] [int] NOT NULL,
	[MusicGenresId] [int] NOT NULL,
	[PathMusic] [varchar](100) NULL,
	[DateUpload] [date] NULL,
	[Views] [int] NULL,
	[WhoUp] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.Song] PRIMARY KEY CLUSTERED 
(
	[SongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([UserId], [Fullname], [Username], [Password], [Email], [Avatar], [IsAdmin]) VALUES (1, N'Admin', N'Admin', N'1', N'admin@gmail.com', N'/Upload/admin', 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Album] ON 

INSERT [dbo].[Album] ([AlbumId], [AlbumTitle], [AblumPhoto], [DesAlbum]) VALUES (1, N'Nhạc sơn tùng', N'uefewf', N'ewvwfd')
SET IDENTITY_INSERT [dbo].[Album] OFF
GO
SET IDENTITY_INSERT [dbo].[Favorite] ON 

INSERT [dbo].[Favorite] ([SongId], [UserId], [FavoriteId]) VALUES (2, 1, 1)
SET IDENTITY_INSERT [dbo].[Favorite] OFF
GO
SET IDENTITY_INSERT [dbo].[MusicGenres] ON 

INSERT [dbo].[MusicGenres] ([MusicGenresId], [MusicGenresName], [MusicGenresPic], [DesMusicGenres]) VALUES (1, N'ưqdqd', N'uqdqwd', N'ưqdqwd')
SET IDENTITY_INSERT [dbo].[MusicGenres] OFF
GO
SET IDENTITY_INSERT [dbo].[Musician] ON 

INSERT [dbo].[Musician] ([MusicianId], [MusicianName], [MusicianPic], [MusicianStory]) VALUES (1, N'dưqdwqd', N'uqdwqdq', N'qưdqwd')
SET IDENTITY_INSERT [dbo].[Musician] OFF
GO
SET IDENTITY_INSERT [dbo].[Singer] ON 

INSERT [dbo].[Singer] ([SingerId], [SingerName], [SingerPic], [SingerStory]) VALUES (1, N'èwfwef', N'ewfwefwe', N'ưefwefe')
INSERT [dbo].[Singer] ([SingerId], [SingerName], [SingerPic], [SingerStory]) VALUES (2, N'Sơn Tùng', N'~/ImageUpload/son-tung-ca-si-so-1-viet-nam-88382-ngoisaovn-w1200-h720.jpg', NULL)
INSERT [dbo].[Singer] ([SingerId], [SingerName], [SingerPic], [SingerStory]) VALUES (3, N'Hoàng Hải', N'~/ImageUpload/HOÀNG_H?I.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Singer] OFF
GO
SET IDENTITY_INSERT [dbo].[Song] ON 

INSERT [dbo].[Song] ([SongId], [SongTitle], [MusicianId], [SingerId], [AlbumId], [MusicGenresId], [PathMusic], [DateUpload], [Views], [WhoUp]) VALUES (2, N'Nắng ấm xa dần', 1, 1, 1, 1, N'uqdqwd', CAST(N'2020-10-10' AS Date), 4, N'1')
INSERT [dbo].[Song] ([SongId], [SongTitle], [MusicianId], [SingerId], [AlbumId], [MusicGenresId], [PathMusic], [DateUpload], [Views], [WhoUp]) VALUES (1002, N'MUỘN RỒI MÀ SAO CÒN', 1, 2, 1, 1, N'~/UploadMusic/MuonRoiMaSaoConCover-HuongLy-7018588.mp3', CAST(N'2025-07-05' AS Date), 4, N'Admin')
SET IDENTITY_INSERT [dbo].[Song] OFF
GO
/****** Object:  Index [IX_SongId]    Script Date: 7/27/2025 12:42:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_SongId] ON [dbo].[Favorite]
(
	[SongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 7/27/2025 12:42:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Favorite]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AlbumId]    Script Date: 7/27/2025 12:42:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_AlbumId] ON [dbo].[Song]
(
	[AlbumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MusicGenresId]    Script Date: 7/27/2025 12:42:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_MusicGenresId] ON [dbo].[Song]
(
	[MusicGenresId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MusicianId]    Script Date: 7/27/2025 12:42:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_MusicianId] ON [dbo].[Song]
(
	[MusicianId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SingerId]    Script Date: 7/27/2025 12:42:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_SingerId] ON [dbo].[Song]
(
	[SingerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Favorite_dbo.Account_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Account] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_dbo.Favorite_dbo.Account_UserId]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Favorite_dbo.Song_SongId] FOREIGN KEY([SongId])
REFERENCES [dbo].[Song] ([SongId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_dbo.Favorite_dbo.Song_SongId]
GO
ALTER TABLE [dbo].[Song]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Song_dbo.Album_AlbumId] FOREIGN KEY([AlbumId])
REFERENCES [dbo].[Album] ([AlbumId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Song] CHECK CONSTRAINT [FK_dbo.Song_dbo.Album_AlbumId]
GO
ALTER TABLE [dbo].[Song]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Song_dbo.MusicGenres_MusicGenresId] FOREIGN KEY([MusicGenresId])
REFERENCES [dbo].[MusicGenres] ([MusicGenresId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Song] CHECK CONSTRAINT [FK_dbo.Song_dbo.MusicGenres_MusicGenresId]
GO
ALTER TABLE [dbo].[Song]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Song_dbo.Musician_MusicianId] FOREIGN KEY([MusicianId])
REFERENCES [dbo].[Musician] ([MusicianId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Song] CHECK CONSTRAINT [FK_dbo.Song_dbo.Musician_MusicianId]
GO
ALTER TABLE [dbo].[Song]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Song_dbo.Singer_SingerId] FOREIGN KEY([SingerId])
REFERENCES [dbo].[Singer] ([SingerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Song] CHECK CONSTRAINT [FK_dbo.Song_dbo.Singer_SingerId]
GO
USE [master]
GO
